* {
    margin:0;
    padding:0;
}

.grecaptcha-badge { opacity:0;}
html {
  overflow:   scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

html, body {user-select:none;}

#gameStarts {
	opacity:0;
	transition:all 0.5s;
	pointer-events:none;
}

#startGame {
	width:125px;
	height:30px;
	background-color:yellow;
	border:transparent solid 1px;
	border-radius:5px;
	color:black;
}

#startGame:hover {
	text-decoration:underline;
}

#forHost {
	display:none;
}

#openChatbox, #removePlayer {
	width:30px;
	height:30px;
	border-radius:5px;
	border:white solid 1px;
	float:left;
	margin-left:15px;
	z-index:1;
}

#removePlayer {
	background-color:red;
	margin-left:5px;
	display:none;
}

#remove {
	width:75px;
	height:25px;
	border-radius:5px;
	border:white solid 1px;
	background-color:red;
}

#chatbox, #removePlayerBox {
	width:250px;
	background-color:grey;
	border-radius:5px;
	border:white solid 1px;
	position:fixed;
	left:50px;
	opacity:0;
	pointer-events:none;
	transition:all 0.5s;
}

#removePlayerBox {
	padding:10px;
	left:85px;
	opacity:0;
	display:none;
}

#messageBox {
	box-sizing:border-box;
	width:100%;
	padding:10px;
	border:transparent;
	height:150px;
	word-wrap:break-word;
	color:white;
	border-bottom:white solid 1px;
	font-family:"Fredoka", sans-serif;
	outline:none;
	resize:none;
	background-color:transparent;
}

#yourMessage {
	width:175px;
	text-align:left;
	text-indent:5px;
	border:transparent solid 1px;
}

#yourMessage::placeholder {
	color:white;
}

#yourMessage:focus {
	border:trasnaprent solid 1px;
}

#sendMessage {
	width:50px;
	height:30px
}

#lobby {
	/*border:red solid 1px;*/
}

#playerContainer {
	width:300px;
	height:auto;
	border:white solid 1px;
	border-radius:5px;
	padding:10px;
	word-wrap:break-word;
	margin:auto;
	text-align:left;
}

.guideline {
	width:300px;
	margin:auto;
}

#transitionCover {
	position:fixed;
	width:100%;
	height:100vh;
	opacity:0;
	pointer-events:none;
	background-color:black;
	transition:all 0.5s;
}

.onlineMenu, .codeInput {
	width:150px;
	height:30px;
	border:white solid 1px;
	border-radius:50px;
	background-color:transparent;
	margin:5px;
}

#username {
	user-select:all;
}

.onlineMenu:hover {
	text-decoration:underline;
}

#changeUsernameB {
	border:grey solid 1px;
}

.codeInput {
	border:transparent;
	border-radius:0px;
	border-bottom:white solid 1px;
	width:100px;
}

.codeInput:focus {
	border:transparent;
	border-bottom:white solid 1px;
}

#maxNumberOnline {
	width:30px;
}

a:hover {
	text-decoration:underline;
}

#joinARoom, #createARoom, #changeUsername, #lobby {
	display:none;
}

#youAgree {
	position:fixed;
	bottom:10px;
	left:50%;
	transform:translate(-50%,0)
}

#onlineMenu {
	background-color:white;
	color:black;
}

#settingsMenu {
	background-color:#35454f;
	width:100%;
	height:120vh;
	position:fixed;
	transition:all 0.5s;
}

#howtoplay, #currentPlaying {
	float:left;
	margin-left:15px;
}

#currentPlaying {
	cursor:default;
	color:white;
}

#modeChooser {
	float:right;
	color:white;
	background-color:transparent;
	border:transparent;
	margin-right:15px;
	cursor:pointer;
}

#timer {
	margin:auto;
	cursor:text;
	font-size:35px;
}

#maxNumber, #p1name, #p2name, #p3name, #p4name, #p5name {
	width:30px;
	height:30px;
	background-color:transparent;
	border:transparent;
	border-bottom:grey solid 1px;
	border-radius:0px;
}

#p1name, #p2name, #p3name, #p4name, #p5name {
	width:100px;
}

#inequality {
	display:none;
}

#maxNumber:focus {
	border-bottom:white solid 1px;
}

#p1name:focus {
	border-bottom:white solid 1px;
}

#p2name:focus {
	border-bottom:white solid 1px;
}

#p3name:focus {
	border-bottom:white solid 1px;
}

#p4name:focus {
	border-bottom:white solid 1px;
}

#p5name:focus {
	border-bottom:white solid 1px;
}

input[type="checkbox"] {
	height:1em;
	width:1em;
	vertical-align:middle;
}

#apply {
	color:lightblue;
	cursor:pointer;
}

#apply:hover {
	text-decoration:underline;
}

#top {
	width:100%;
	background-color:white;
	position:fixed;
	color:black;
}

#resetSettings {
	background-color:transparent;
	border:transparent solid 1px;
	color:red;
	border-radius:5px;
	transition:all 0.5s;
	font-weight:bold;
	font-size:18px;
}

#resetSettings:hover {
	text-decoration:underline;
}

#mode {
	background-color:#1B1212;
	width:300px;
	height:200px;
	margin-left:auto;
	margin-right:auto;
	border-radius:5px;
	transition:all 1s;
}

body {
	text-align:center;
    color:white;
    font-family:"Fredoka", sans-serif;
    background-color:black;
overflow:visible;
}

select {
	font-family:"Fredoka", sans-serif;
	outline:none;
	transition:all 0.5s;
	border-radius:5px;
}
select:hover {
	background-color:lightgray;
}
select:active {
	background-color:lightgray;
}

option {
	color:black;
}

input, #multiBox {
    border:grey solid 2px;
    border-radius:5px;
    height:50px;
    width:60px;
    text-align:center;
    margin:3px;
    transition:all 0.5s;
    background-color:transparent;
}

#buttons {
	left:50%;
	right:50%;
}

a {
    color:white;
    cursor:pointer;
}

hr {
    width:99%;
    margin-left:auto;
    margin-right:auto;
    background-color:white;
    border:white solid 1px;
    border-radius:50px;
}

#go2, #go3, #go4, #go5 {
    display:none;
}

input:focus {
    border:white solid 2px;
}

#multiBox:focus {
    border:white solid 2px;
}

button, input {
    outline:none;
    color:white;
    font-family:"Fredoka", sans-serif;
}

button {
    width:165px;
    height:35px;
    background-color:grey;
    border:grey solid 2px;
    border-radius:5px;
    
    left:5%;
    right:5%;
    margin-left:auto;
    margin-right:auto;
    color:white;
    cursor:pointer;
	transition:all 0.5s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#none {
	margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
	text-decoration:none;
	color:skyblue;
}
